extends layout

block content
  h1= title
  h3 Endpoints
  ul
    li <pre><code>/disapproval</code>:   ಠ_ಠ</pre>
    li <pre><code>/rage</code>:         (╬ ಠ益ಠ)</pre>
    li <pre><code>/shrug</code>:        ¯\_(ツ)_/¯</pre>
    li <pre><code>/snooze</code>:       (ΘεΘ;)</pre>
    li <pre><code>/tableflip</code>:    ╯°□°）╯┻━┻</pre>
    li <pre><code>/yay</code>:          (/◕ヮ◕)/</pre>
